extends ../shared/layout

block main-content
  .row
    .col-md-12
      canvas#game-canvas(height="600", width="1100")

block page-scripts
  script(type="text/javascript", src="http://cdn.html5quintus.com/v0.2.0/quintus-all.js")
  script(type="text/javascript", src="./js/game/config/config.js")
  script(type="text/javascript", src="./js/game/objects/player.js")
  script(type="text/javascript", src="./js/game/objects/marine.js")
  script(type="text/javascript", src="./js/game/objects/mummy.js")
  script(type="text/javascript", src="./js/game/objects/bullet.js")
  script(type="text/javascript", src="./js/game/objects/deadlyGround.js")
  script(type="text/javascript", src="./js/game/components/enemy.js")
  script(type="text/javascript", src="./js/game/components/aiPatrool.js")
  script(type="text/javascript", src="./js/game/components/weapon.js")
  script(type="text/javascript", src="./js/game/game.js")