extends ../shared/layout
block main-content
  canvas#game-canvas(width="950", height="600")
block page-scripts
  script(type="text/javascript", src="http://cdn.html5quintus.com/v0.2.0/quintus-all.js")
  script(type="text/javascript", src="./js/game/config/config.js")
  script(type="text/javascript", src="./js/game/objects/player.js")
  script(type="text/javascript", src="./js/game/objects/marine.js")
  script(type="text/javascript", src="./js/game/objects/mummy.js")
  script(type="text/javascript", src="./js/game/objects/bullet.js")
  script(type="text/javascript", src="./js/game/objects/grinder.js")
  script(type="text/javascript", src="./js/game/objects/teleport.js")
  script(type="text/javascript", src="./js/game/components/creature.js")
  script(type="text/javascript", src="./js/game/components/enemy.js")
  script(type="text/javascript", src="./js/game/components/aiPatrool.js")
  script(type="text/javascript", src="./js/game/components/weapon.js")
  script(type="text/javascript", src="./js/game/scenes/startGameScene.js")
  script(type="text/javascript", src="./js/game/scenes/playFactoryScene.js")
  script(type="text/javascript", src="./js/game/scenes/gameOverScene.js")
  script(type="text/javascript", src="./js/game/scenes/levelCompleteScene.js")
  script(type="text/javascript", src="./js/game/game.js")