h1 Project Description
p Implement a client-side JavaScript application using the HTML graphic APIs – canvas and SVG.
p The project can be a game, web statistics or anything else. Sample applications:
ul
  li Chess
  li Backgammon
  li Any jumping game – Super Mario, Bomberman or else
  li Statistics application – app showing different charts, based on received data
  li Minesweeper
  li Solitaire
  li Bridge-Belote
  li Paint-like application – drawing shapes, lines, etc

h3 General Requirements
p Please define and implement the following assets in your project:
ul  
  li Use the HTML5 canvas
    ul 
      li Or a Canvas framework like KineticJS, paper.js or other
  li Use SVG
    ul
      li Or a SVG framework like Raphael JS or other
  li Create animations
    ul 
      li Either for the canvas, SVG or both
  li The application must work in the latest versions of the browsers: Google Chrome, Mozilla Firefox, Internet Explorer 10/11, Opera and Apple Safar

h3 Additional Requirements
p Follow the best practices for producing high-quality code:
ul
  li **Correct naming**
  li **Data encapsulation**
    ul
      li * Use OOP and modules
  li **Strong cohesion** and **loose coupling**
  li Use **GIT** as a source control system
  li Host it on
    a(href="http://github.com", title="http://github.com", target="_blank")
      http://github.com

h3 Optional Requirements
p If you have a chance, time and a suitable situation, you might add some of the following to your project:
ul  
  li Use DOM manipulations like native DOM API and/or jQuery
  li Unit and integration testing
  li Backward compatibility (make the application usable on browsers like IE8, IE7 and IE6)

h3 Non-required Work
  ul
    li Completely finished project is not obligatory required. It will not be a big problem if your project is not completely finished or is not working greatly
      ul
        li This team work project is for educational purpose
        li ts main purpose it to experience using graphics, DOM manipulation and OOP in a real-world-like project and to get some experience in team working and team collaboration with a source control system.
    li Implementation of server-side logic with ASP.NET, PHP, Java or Node.js

h3 Deliverables
p Put the following in a ZIP archive and submit it (each team member submits the same file):
ul
  li The **complete source code**
  li **Brief documentation** of your project (2-3 pages). It should provide the following information (in brief):
    ul
      li **Team name** and **list of team members**
      li Project purpose – **what problem do you solve?**
      li The **URL of your Git repository**
      li Any other information (optionally)
  li Optionally provide a presentation designed for the project defense

h3 Public Project Defense
p Each team will have to deliver a public defense of its work to the other students and trainers. You will have only 10 minutes for the following:
ul
  li Demonstrate the application (very shortly)
  li Show the source code
  li Show the commits logs to confirm that team member have contributed.
  li Optionally you might prepare a presentation (3-4 slides)
p Please be **strict in timing!** Be well prepared for presenting maximum of your work for minimum time. Bring your own laptop. Test it preliminary with the multimedia projector. Open the project assets beforehand to save time. You have 10 minutes, no more

h3 Give Feedback about Your Teammates
p You will be invited to provide feedback about all your teammates, their attitude to this project, their technical skills, their team working skills, their contribution to the project, etc. The feedback is important part of the project evaluation so take it seriously and be honest
