body {
  background-color: #444;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6  {
  color: #FFA500;
}

footer {
  font-size: 1.2rem;
  line-height: 0.4rem;
}

#nav svg {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  height: 50px;
}

#forkongithub {
  width: 200px;
  height:200px;
  overflow: hidden;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  z-index: 999;
}

#forkongithub a {
  width: 300px;
  position: absolute;
  top: 50px;
  right:-120px;
  transform: rotate(45deg);
  background: #FFA500;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  box-shadow:4px 4px 10px rgba(0,0,0,0.8);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#forkongithub a:hover {
  background:#000;
  color:#FFA500;
}

#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 2px;
  background:#fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

#game-canvas {
  box-shadow: 0px 0px 10px #FFA500;
}

.center {
  text-align: center;
}

.key {
  display: inline-block;
  border: 1px solid #FFA500;
  border-radius: 3px;
  margin-right: 10px;
  min-width: 30px;
  padding: 10px
}

.code {
  display: inline-block;
  border-radius: 3px;
  background-color: #000;
  padding: 5px
}