doctype
html
  head
    meta(charset="urf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title The Side Scroller
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", type="text/css", href="./lib/skeleton/css/normalize.css")
    link(rel="stylesheet", type="text/css", href="./lib/skeleton/css/skeleton.css")
    link(rel="stylesheet", type="text/css", href="./css/site.css")
  body
    .container
      section.header
        .row
          .twelve.columns
            #nav
            span#forkongithub
              a(href="https://github.com/PavelDobranov/TA-Teamwork-JS-UI-And-DOM", target="_blank") Fork us on GitHub
      section.main-content
        block main-content
      hr
      footer.center
        p
          a(href="http://telerikacademy.com/") Telerik Academy
          |&nbsp; 2015 - JavaScript UI and DOM
        p Team Rusty Nail
     include scripts