doctype
html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css")
    link(rel="stylesheet" href="./css/site.css")
  body
    span#forkongithub
      a(href="https://github.com/PavelDobranov/TA-Teamwork-JS-UI-And-DOM", target="_blank") Fork us on GitHub
    .container
      .row
        #nav

       block main-content

      .row
        hr
        footer
          p.text-center
            a(href="http://telerikacademy.com/") Telerik Academy 
            | 2015 - JavaScript UI and DOM
          p.text-center Team Rusty Nail
     include scripts