script(type="text/javascript", src="./lib/jquery/dist/jquery.min.js")
script(type="text/javascript", src="./lib/raphael/raphael-min.js")
script(type="text/javascript", src="./js/www/navigation.js")
block page-scripts