doctype
html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css")
    link(rel="stylesheet" href="./css/site.css")
  body
    canvas#game-canvas(width="1200", height="600")
    script(type="text/javascript", src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type="text/javascript", src="http://cdn.html5quintus.com/v0.2.0/quintus-all.js")

    script(type="text/javascript", src="./js/game/bullet.js")
    script(type="text/javascript", src="./js/game/enemy.js")
    script(type="text/javascript", src="./js/game/player.js")
    script(type="text/javascript", src="./js/game/weapon.js")
    script(type="text/javascript", src="./js/game/game.js")