doctype
html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css")
    link(rel="stylesheet", href="./css/site.css")
    
    script(type="text/javascript", src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    .navbar.navbar-default.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href="#/") The Side Scroller
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-main")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#/requirements") Requirements
            li
              a(href="#/documentation") Documentation
    .container
      .row
        .col-md-12.page-header
          h1.animated.fadeInLeft Project Requirements.
      .row
        .col-md-3.hidden-xs.hidden-sm#sidebar 
          nav.animated.fadeInLeft
            ul.nav
              li
                a(href="#general-requirements") General Requirements
              li
                a(href="#additional-requirements") Additional Requirements
              li
                a(href="#optional-requirements") Optional Requirements
              li
                a(href="#non-required-work") Non-required Work
              li
                a(href="#deliverables") Deliverables
              li
                a(href="#public-defense") Public Defense
              li
                a(href="#teammates-feedback") Teammates Feedback
        .col-md-9
          .row
            .col-md-12.jumbotron
              p Implement a client-side JavaScript application using the HTML graphic APIs – canvas and SVG.
              p The project can be a game, web statistics or anything else. Sample applications:
              ul
                li Chess
                li Backgammon
                li Any jumping game – Super Mario, Bomberman or else
                li Statistics application – app showing different charts, based on received data
                li Minesweeper
                li Solitaire
                li Bridge-Belote
                li Paint-like application – drawing shapes, lines, etc
          .row#general-requirements
            .col-md-12
              h2 General Requirements
              p Please define and implement the following assets in your project:
              ul  
                li Use the HTML5 canvas (or a Canvas framework like KineticJS, paper.js or other)
                li Use SVG (or a SVG framework like RaphaelJS or other)
                li Create animations (either for the canvas, SVG or both)
                li The application must work in the latest versions of the browsers: Google Chrome, Mozilla Firefox, Internet Explorer 10/11, Opera and Apple Safari
          .row#additional-requirements
            h2 Additional Requirements
            p Follow the best practices for producing high-quality code:
            ul
              li 
                strong Correct naming
              li 
                strong Data encapsulation
                ul
                  li Use OOP and modules
              li 
                strong Strong cohesion
                |  and 
                strong loose couplings
              li  
                | Use 
                strong GIT 
                | as a source control system
              li Host it on 
                a(href="http://github.com", title="http://github.com", target="_blank") GitHub
          .row#optional-requirements
            h2 Optional Requirements
            p If you have a chance, time and a suitable situation, you might add some of the following to your project:
            ul  
              li Use DOM manipulations like native DOM API and/or jQuery
              li Unit and integration testing
              li Backward compatibility (make the application usable on browsers like IE8, IE7 and IE6)
          .row#non-required-work
            h2 Non-required Work
            ul
              li Completely finished project is not obligatory required. It will not be a big problem if your project is not completely finished or is not working greatly
                ul
                  li This team work project is for educational purpose
                  li ts main purpose it to experience using graphics, DOM manipulation and OOP in a real-world-like project and to get some experience in team working and team collaboration with a source control system.
              li Implementation of server-side logic with ASP.NET, PHP, Java or Node.js
          .row#deliverables
            h2 Deliverables
            p Put the following in a ZIP archive and submit it (each team member submits the same file):
            ul
              li
                | The 
                strong complete source code
              li 
                strong Brief documentation 
                | of your project (2-3 pages). It should provide the following information (in brief):
                ul
                  li 
                    strong Team name 
                    | and 
                    strong list of team members
                  li 
                    | Project purpose – 
                    strong what problem do you solve?
                  li 
                    | The 
                    strong URL of your Git repository
                  li Any other information (optionally)
              li Optionally provide a presentation designed for the project defense
          .row#public-defense
            h2 Public Project Defense
            p Each team will have to deliver a public defense of its work to the other students and trainers. You will have only 10 minutes for the following:
            ul
              li Demonstrate the application (very shortly)
              li Show the source code
              li Show the commits logs to confirm that team member have contributed.
              li Optionally you might prepare a presentation (3-4 slides)
            p 
              | Please be 
              strong strict in timing! 
              | Be well prepared for presenting maximum of your work for minimum time. Bring your own laptop. Test it preliminary with the multimedia projector. Open the project assets beforehand to save time. You have 10 minutes, no more
          .row#teammates-feedback
            h2 Give Feedback about Your Teammates
            p You will be invited to provide feedback about all your teammates, their attitude to this project, their technical skills, their team working skills, their contribution to the project, etc. The feedback is important part of the project evaluation so take it seriously and be honest
    script(type="text/javascript", src="./js/www/app.js")
