doctype
html
  head
    meta(charset="UTF-8")
    title TheGame
    script(type="text/javascript", src="lib/quintus.js")
    script(type="text/javascript", src="lib/quintus_sprites.js")
    script(type="text/javascript", src="lib/quintus_scenes.js")
    script(type="text/javascript", src="lib/quintus_input.js")
    script(type="text/javascript", src="lib/quintus_anim.js")
    script(type="text/javascript", src="lib/quintus_2d.js")
    script(type="text/javascript", src="lib/quintus_touch.js")
    script(type="text/javascript", src="lib/quintus_ui.js")
    script(type="text/javascript", src="lib/quintus_tmx.js")
    script(type="text/javascript", src="lib/quintus_audio.js")
    script(type="text/javascript", src="./scripts/player.js")
    script(type="text/javascript", src="./scripts/game.js")
  body
    h1 Hi from server! :)
